<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>.
    </tr>
      <tr>
      <td>Тип дисплея</td>
      <td>{{ product.type_display }}</td>.
    </tr>
      <tr>
      <td>Операционная система</td>
      <td>{{ product.operating_system }}</td>.
    </tr>
      <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>.
    </tr>
      <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>.
    </tr>
      {% if product.sd == True %}
        <tr>
        <td>Максимальный объем SD карты</td>
        <td>{{ product.sd_volume_max }}</td>.
        </tr>
      {% endif %}
    <tr>
      <td>Камера (МП)</td>
      <td>{{ product.main_cam_mp }}</td>.
    </tr>
    <tr>
      <td>Фронтальная камера (МП)</td>
      <td>{{ product.frontal_cam_mp }}</td>.
    </tr>
    <tr>
      <td>Объем батареи</td>
      <td>{{ product.accum_volume }}</td>.
    </tr>
  </tbody>
</table>
